{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>El mejor deporte del mundo es: </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga a ipsa iste autem amet aperiam minima quos, rerum inventore consequatur sint explicabo optio alias quo, veritatis mollitia voluptatum placeat nobis?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/futbol2.png" alt="img-thumbnail">
    </div>

</div>



{{> footer}}
   